{%extends 'base.template.html' %}
{%load static %}

{%block content%}
  <body>
        {% if request.user.is_authenticated %}
        <p>Welcome {{request.user}} | <a href="{% url 'account_logout' %}">logout</a> </p>
        {% else %}
        <p>Please <a href="/accounts/login">Login</a></p>
        {%endif%}

    <h1>Books</h1>
    <p>
      Here youcan see all the books that we have
    </p>
    <ul>
      {% for i in books %}
        <li>
            {{i.title}} {{i.ISBN}} {{i.desc}} {{i.genre.title}} {{i.category.title}}
            {% for j in i.tags.all %}
             ({{j.title}}) 
            {%endfor%} 
            {% for j in i.author.all %} 
                {{j.First_Name}} {{j.Last_Name}}
            {%endfor%}
            <a href="{% url 'update_book_route' book_id=i.id %}">Edit</a>
            <a href="{% url 'delete_book_route' book_id=i.id %}">Delete</a>
        </li>
      {%endfor%}
    </ul>
  </body>
{%endblock%}
