{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">"
</head>
<body>
    <h1>Books</h1>
    <p>
        Here youcan see all the books that we have
    </p>
    <ul>
        {% for i in books %}
            <li> {{i.title}} {{i.ISBN}} {{i.desc}} 
            <a href="{% url 'update_book_route' book_id=i.id %}">Edit</a>
            </li>
        {%endfor%}
    </ul>
</body>
</html>